APP_NAME="Health Dashboard API"
ENVIRONMENT="dev"

# Postgres
DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:5432/health_dashboard"

# Auth JWT (changer en production)
JWT_SECRET="remplacer-par-une-cle-secrete-longue"
JWT_EXPIRE_MINUTES=10080

